* {
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Nunito Regular', sans-serif;
}

a {
  text-decoration: none;
}

body {
  font-family : 'Roboto', cursive;
  font-size   :14px;

  &::-webkit-scrollbar {
    width: 0;
  }

  &::-webkit-scrollbar-track {
      background: $grey-background; 
  }

  &::-webkit-scrollbar-thumb {
      background: $sidebar-cursor; 
  }

  &.lock {
    overflow: hidden;
  }

  button {
    border: none;

    &:focus {
      box-shadow : none;
      outline    : 0
    }
    &:active {
      padding: 0;
    }
  }

  input, select {
    &:focus {
      box-shadow : none;
      outline    : 0
    }
  }

  #root {
    .container-app {
      position : absolute;
      top : 0;
      left : 0;
      right: 0;
      bottom : 0;
      z-index : 1;

      &.app-loading {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .toast-container {
        width: auto;
        min-width: 280px;

        @media (max-width: 568px) {
          width: 100%;
          top:0;
          right:0;
        }

        .toast-content {
          min-height: 50px;
          padding:0 10px;
          display: flex;
          justify-content: space-between;
          align-items: center;

          .toast-body {
            font-size: 13px;
            color: $white;
          }

          button {
            align-self: center;
            width:20px;
            height:20px;
            display: flex;
            justify-content: center;
            align-items: center;
          }

          &.Toastify__toast--success {
            background-color: $primary-color;
          }

          &.Toastify__toast--error {
            background-color: $error-trash;
          }
        }
      }

      .content-app {
        width : 100%;
        height:100%;
        padding-top : $header-height;
        display: flex;
        position: relative;

        @media (min-width: 1024px) {
          padding-left : $sidebar-big;
        }
        @media (max-width: 1024px) {
          padding-left : $sidebar-small;
        }
        @media (max-width: 768px) {
          padding-left:0;
        }

        .fragment {
          min-height:600px;
          position: relative;
          flex: 1;
          display: flex;
          flex-direction: column;
          padding-top: $header-height;

          .screen-content {
            display: flex;
            flex: 1;
          }

          h2 {
            margin : 1.8rem 2rem .5rem 2rem;
            color : $primary-color;
            font-size : 20px;
            font-weight: normal;
          }

          .loading {
            position: fixed;
            top:0;
            left:0;
            bottom:0;
            right:0;
            z-index: 1;
            background-color: $white;
            display: flex;
            justify-content: center;
            align-items: center;
            padding-top: $header-height;

            &.edit {
              background-color: rgba(255,255,255,.5);
            }
            
            @media (min-width: 1024px) {
              padding-left : $sidebar-big;
            }
            @media (max-width: 1024px) {
              padding-left : $sidebar-small;
            }
            @media (max-width: 768px) {
              padding-left:0;
            }
          }

          .loading-fragment {
            flex:1;
          }

          .header-screen {
            position: fixed;
            right: 0;
            top:$header-height;
            z-index: 16;
            background : $grey-background;
            color : $primary-color;
            height : $header-height;
            display : flex;
            align-items : center;
            justify-content: space-between;
  
            box-shadow: 0 -1px 3px 1px rgba(0,0,0,0.35);
            -webkit-box-shadow: 0 -1px 3px 1px rgba(0,0,0,0.35);
            -moz-box-shadow: 0 -1px 3px 1px rgba(0,0,0,0.35);
  
            @media (min-width: 1025px) {
              padding : 0 1%;
              width:calc(100% - 250px);
              font-size : 20px;
            }
  
            @media (max-width: 1024px) {
              padding : 0 2%;
              width:calc(100% - 50px);
              font-size : 18px;
            }
  
            @media (max-width: 768px) {
              padding : 0 3%;
              width: 100%;
            }
  
            .content {
              height: 100%;
              display: flex;
              align-items: center;
  
              &.center {
                justify-content: center;
              }
  
              &.right {
                justify-content: flex-end;
              }
  
              &.left {
                justify-content: flex-start;
              }
  
              .pagination {
                display: flex;
                align-items: center;
                margin-right: .8rem;
  
                .pagination-current {
                  margin:0 1.5rem;
                  font-size: 15px;
                  color:$black_text;
                }
  
                .pagination-nav {
                  .button-paginate {
                    width: 2rem;
                    height: 2rem;
                    background-color: $white;
                    border-radius: 4px;
                    border:1px solid rgba(0, 0, 0, 0.2);
  
                    &.disabled {
                      opacity: .5;
                    }
  
                    .icon {
                      fill : $primary-color;
                      height: 100%;
                      width: 100%;                        
                    }
                  }
                }
              }
            }
  
            .button {
              cursor: pointer;
              background-color: transparent;
              display: flex;
              justify-content: center;
              align-items: center;              
              
              &.add {
                font-size: 14px;
                color: $white;
                padding:.4rem .5rem;
                width:6.5rem;
                border-radius: 5px;
                margin-right: 4rem;
                margin-left: .8rem;
                background-color: $primary-color;
  
                .icon {
                  fill : $white;
                  margin-right: .5rem;
                  @media (min-width: 1025px) {
                    height: 1.3rem;
                    width: 1.3rem;
                  }
    
                  @media (max-width: 1024px) {
                    height: 1rem;
                    width: 1rem;
                  }
                }
              }   
              &.button-filter {
                margin-right: 2rem;
                .icon {
                  fill : $primary-color;   
                  @media (min-width: 1025px) {
                    height: 32px;
                    width: 32px;
                  }
    
                  @media (max-width: 1024px) {
                    height: 30px;
                    width: 30px;
                  }            
                }              
              }
              &.button-edit {
                background-color: $primary-color; 
                border-radius: 4px;  
                @media (min-width: 1025px) {
                  height: 30px;
                  width: 30px;
                }
  
                @media (max-width: 1024px) {
                  height: 28px;
                  width: 28px;
                }
                .icon {
                  fill : $white;    
                  width:60%;
                  height:60%;            
                }
              }          
            }
          }

          .filter-box {
            flex:1;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 2rem 1.2rem;

            .filter-content {
              display: flex;
              flex-direction: column;
              justify-content: flex-start;
              padding: 0.3rem .8rem 1.5rem .8rem;
              margin-bottom: 1rem;
              width:100%;

              &.border {
                border-bottom:1px solid $secondary-color
              }
              .title {
                font-size: 15px;
                margin-bottom: .8rem;
                color : $black_text;
              }
              .label {
                font-size: 13px;
              }

              .content-search {
                display: flex;
                align-items: center;

                .container-field {
                  flex: 1;

                  .search {
                    border-radius: 4px;
                    border: 1px solid rgba(0, 0, 0, 0.2);
                    padding: 0 .5rem;
                    color: $black_text;
                    font-size: 13px;
                    height:35px;
                    width:100%;

                    &::placeholder {
                      color : rgb(109, 109, 109);
                    }
                  }  
                }
                
                .button-search, .button-clean {
                  background-color: $primary-color;
                  height: 35px;
                  width: 35px;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  margin-left:.5rem;
                  border-radius: 4px;
                  cursor: pointer;

                  .icon {
                    fill : $white;
                    height: 20px;
                    width: 20px;                        
                  }
                }
              }

              .content-order {
                display: flex;
                flex-direction: column;
                .container-field {
                  flex: 1;

                  .select {
                    width:100%;
                    height:35px;

                    &:first-of-type {
                      margin-bottom: 1rem;
                    }
                  }
                }
              }
            }
            .buttons {
              display: flex;
              .button {
                padding: 0 1.8rem;
                height: 36px;
                cursor: pointer;
                border-radius: 3px;
                margin:.3rem .5rem;
              }
              .button-apply {
                background-color: $primary-color;
                color: $white;                
              }
              .button-close {
                background-color: $cancel-bg;
                color: $cancel-icon;
              }
            }
            
          }
        }

        .select {
          border-radius: 4px;
          border: 1px solid rgba(0, 0, 0, 0.2);
          padding: 0 .5rem;
          color: $black_text;
          font-size: 13px;
          background-color: $white;
          height:35px;
        }

        .multi-select {
          height:35px;
          .dropdown-container {
            border-radius: 4px;
            border: 1px solid rgba(0, 0, 0, 0.2);
            color: $black_text;
            font-size: 13px;
          }
          .dropdown-heading {
            .gray {
              color: rgb(109, 109, 109);
            }
          }
          .dropdown-container, .dropdown-heading {
            height:100%;
          }
          .dropdown-content {
            padding-top:0;

            .panel-content {
              border-radius: 0;
            }
          }
        }
      }
    }
  }
}