* {
  margin:0;
  padding:0;
}

body {
  font-family : 'Roboto', cursive;
  font-size   :14px;

  &.lock {
    overflow: hidden;
  }

  button {
    border: none;

    &:focus {
      box-shadow : none;
      outline    : 0
    }
    &:active {
      padding: 0;
    }
  }

  input {
    &:focus {
      box-shadow : none;
      outline    : 0
    }
  }

  #root {

    .root-loader {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .container-app {
      position : absolute;
      top : 0;
      left : 0;
      right: 0;
      bottom : 0;
      z-index : 1;

      .content-app {
        width : 100%;
        height : 100%;
        padding-top : $header-height;
        display: flex;

        @media (min-width: 1024px) {
          padding-left : $sidebar-width;
        }
        @media (max-width: 1024px) {
          padding-left : $sidebar-width-small;
        }
        @media (max-width: 768px) {
          padding-left   : 0;
          padding-bottom : 50px;
          left           : 0;
        }

        .fragment {
          position: relative;
          flex: 1;
          display: flex;
          flex-direction: column;
          padding-top: 50px;

          h2 {
            margin    : 0.9rem 0.9rem 0 0.9rem;
            color     : $primary-color;
            font-size : 22px;
          }

          .loading {
            display: flex;
            justify-content: center;
            align-items: center;
          }

          .loading-fragment {
            flex:1;
          }
        }

        .header-screen {
          position: fixed;
          right: 0;
          top:50px;
          z-index: 16;
          background : $h1-bg;
          color : $primary-color;
          font-size : 20px;
          height : $header-height;
          display : flex;
          align-items : center;

          box-shadow: 0 -1px 3px 1px rgba(0,0,0,0.35);
          -webkit-box-shadow: 0 -1px 3px 1px rgba(0,0,0,0.35);
          -moz-box-shadow: 0 -1px 3px 1px rgba(0,0,0,0.35);

          @media (min-width: 1025px) {
            padding : 0 1%;
            width:calc(100% - 250px);
          }

          @media (max-width: 1024px) {
            padding : 0 2%;
            width:calc(100% - 50px);
          }

          @media (max-width: 768px) {
            padding : 0 3%;
            width: 100%;
          }

          .content {
            display: flex;
            align-items: center;
            width:50%;

            &.center {
              justify-content: center;
            }

            &.right {
              justify-content: flex-end;
            }

            &.left {
              justify-content: flex-start;
            }
          }

          .button {
            cursor: pointer;
            background-color: transparent;
            margin-right: 15px;

            .icon {
              fill : $primary-color;
              height: 40px;
              width: 40px;
            }
          }
        }
      }
    }
  }
}