* {
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

a {
  text-decoration: none;
}

body {
  font-family : 'Roboto', cursive;
  font-size   :14px;

  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-track {
      background: $grey-background; 
  }

  &::-webkit-scrollbar-thumb {
      background: $sidebar-cursor; 
  }

  &.lock {
    overflow: hidden;
  }

  button {
    border: none;

    &:focus {
      box-shadow : none;
      outline    : 0
    }
    &:active {
      padding: 0;
    }
  }

  input, select {
    &:focus {
      box-shadow : none;
      outline    : 0
    }
  }

  #root {
    .container-app {
      position : absolute;
      top : 0;
      left : 0;
      right: 0;
      bottom : 0;
      z-index : 1;

      &.app-loading {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .toast-container {
        width: auto;
        min-width: 280px;

        @media (max-width: 568px) {
          width: 100%;
          top:0;
          right:0;
        }

        .toast-content {
          min-height: 50px;
          padding:0 10px;
          display: flex;
          justify-content: space-between;
          align-items: center;

          .toast-body {
            font-size: 13px;
            color: $white;
          }

          button {
            align-self: center;
            width:20px;
            height:20px;
            display: flex;
            justify-content: center;
            align-items: center;
          }

          &.Toastify__toast--success {
            background-color: $primary-color;
          }

          &.Toastify__toast--error {
            background-color: $error-trash;
          }
        }
      }

      .content-app {
        width : 100%;
        height:100%;
        min-height:600px;
        padding-top : $header-height;
        display: flex;

        @media (min-width: 1024px) {
          padding-left : $sidebar-big;
        }
        @media (max-width: 1024px) {
          padding-left : $sidebar-small;
        }
        @media (max-width: 768px) {
          padding-left:0;
        }

        .fragment {
          position: relative;
          flex: 1;
          display: flex;
          flex-direction: column;
          padding-top: $header-height;

          h2 {
            margin    : 0.9rem 0.9rem 0 0.9rem;
            color     : $primary-color;
            font-size : 22px;
          }

          .loading {
            display: flex;
            justify-content: center;
            align-items: center;
          }

          .loading-fragment {
            flex:1;
          }
        }

        .header-screen {
          position: fixed;
          right: 0;
          top:$header-height;
          z-index: 16;
          background : $grey-background;
          color : $primary-color;
          height : $header-height;
          display : flex;
          align-items : center;
          justify-content: space-between;

          box-shadow: 0 -1px 3px 1px rgba(0,0,0,0.35);
          -webkit-box-shadow: 0 -1px 3px 1px rgba(0,0,0,0.35);
          -moz-box-shadow: 0 -1px 3px 1px rgba(0,0,0,0.35);

          @media (min-width: 1025px) {
            padding : 0 1%;
            width:calc(100% - 250px);
            font-size : 20px;
          }

          @media (max-width: 1024px) {
            padding : 0 2%;
            width:calc(100% - 50px);
            font-size : 18px;
          }

          @media (max-width: 768px) {
            padding : 0 3%;
            width: 100%;
          }

          .content {
            height: 100%;
            display: flex;
            align-items: center;

            &.center {
              justify-content: center;
            }

            &.right {
              justify-content: flex-end;
            }

            &.left {
              justify-content: flex-start;
            }

            .pagination {
              display: flex;
              align-items: center;
              margin-left: 2.5rem;

              .pagination-current {
                margin:0 1.5rem;
                font-size: 15px;
                color:$black_text;
              }

              .pagination-nav {
                .button-paginate {
                  width:30px;
                  height:30px;
                  background-color: $white;
                  border-radius: 4px;
                  border:1px solid rgba(0, 0, 0, 0.2);

                  &.disabled {
                    opacity: .5;
                  }

                  .icon {
                    fill : $primary-color;
                    height: 30px;
                    width: 30px;                        
                  }
                }
              }
            }

            .filter {
              height:inherit;
              display: flex;
              justify-content: center;
              align-items: center;

              .filter-box {
                width: 100%;
                position: absolute;
                top:100%;
                right:0;
                background-color: $primary-color;
                z-index: 1;
                display: flex;
                padding: 1.2rem;

                box-shadow: 0 3px 3px -1px rgba(0,0,0,0.2);
                -webkit-box-shadow: 0 3px 3px -1px rgba(0,0,0,0.2);
                -moz-box-shadow: 0 3px 3px -1px rgba(0,0,0,0.2);

                .filter-content {
                  flex:1;
                  display: flex;
                  flex-direction: column;
                  padding: 0.3rem 1.2rem;

                  &.border {
                    border-right:1px solid $secondary-color
                  }
                  .title {
                    font-size: 15px;
                    margin-bottom: .8rem;
                    color : $white;
                  }
                  .label {
                    font-size: 13px;
                  }

                  .content-search {
                    display: flex;
                    align-items: center;

                    .container-field {
                      flex: 1;

                      .search {
                        border-radius: 4px;
                        border: 1px solid rgba(0, 0, 0, 0.2);
                        padding: 0 .5rem;
                        color: $black_text;
                        font-size: 13px;
                        height:35px;
                        width:100%;

                        &::placeholder {
                          color : rgb(109, 109, 109);
                        }
                      }  
                    }
                    
                    .button-search, .button-clean {
                      background-color: $white;
                      height: 35px;
                      width: 35px;
                      display: flex;
                      align-items: center;
                      justify-content: center;
                      margin-left:.5rem;
                      border-radius: 4px;

                      .icon {
                        fill : $primary-color;
                        height: 20px;
                        width: 20px;                        
                      }
                    }
                  }

                  .content-order {
                    display: flex;
                    .container-field {
                      flex: 1;

                      &.container-column, &.container-published {
                        margin-right:.8rem;
                      }

                      .select {
                        width:100%;
                        height:35px;
                      }
                    }
                  }
                }
              }
            }
          }

          .button {
            cursor: pointer;
            background-color: transparent;
            display: flex;
            justify-content: center;
            align-items: center;

            &.add {
              .icon {
                fill : $primary-color;
                @media (min-width: 1025px) {
                  height: 40px;
                  width: 40px;
                  margin-right: 15px;
                }
  
                @media (max-width: 1024px) {
                  height: 38px;
                  width: 38px;
                  margin-right: 10px;
                }
              }
            }   
            &.button-filter {
              .icon {
                fill : $primary-color;   
                @media (min-width: 1025px) {
                  height: 30px;
                  width: 30px;
                }
  
                @media (max-width: 1024px) {
                  height: 28px;
                  width: 28px;
                }            
              }              
            }
            &.button-apply, &.button-edit {
              background-color: $primary-color; 
              border-radius: 4px;  
              @media (min-width: 1025px) {
                height: 30px;
                width: 30px;
              }

              @media (max-width: 1024px) {
                height: 28px;
                width: 28px;
              }
              .icon {
                fill : $white;    
                width:80%;
                height:80%;            
              }
            }
            &.button-apply {    
              margin-right:1rem;           
            }              
          }
        }

        .select {
          border-radius: 4px;
          border: 1px solid rgba(0, 0, 0, 0.2);
          padding: 0 .5rem;
          color: $black_text;
          font-size: 13px;
          background-color: $white;
          height:35px;
        }

        .multi-select {
          height:35px;
          .dropdown-container {
            border-radius: 4px;
            border: 1px solid rgba(0, 0, 0, 0.2);
            color: $black_text;
            font-size: 13px;
          }
          .dropdown-heading {
            .gray {
              color: rgb(109, 109, 109);
            }
          }
          .dropdown-container, .dropdown-heading {
            height:100%;
          }
          .dropdown-content {
            padding-top:0;

            .panel-content {
              border-radius: 0;
            }
          }
        }
      }
    }
  }
}