.form {
  display: flex;

  .col-left, .col-right {
    width : 50%;
    margin-top: 1.5rem;

    .container-field {
      display: flex;
      flex-direction: column;
      padding : 0 1.5rem;
      margin-top: .8rem;

      .label {
        margin-bottom: .5rem;
        margin-left:.2rem;
        color: $primary-color;
        font-size: 14px;
      }

      .input {
        border-radius: 5px;
        border: 1px solid rgba(0, 0, 0, 0.2);
        padding: .3rem .5rem;
        color: $black_text;
        font-size: 13px;

        &::placeholder {
          color: rgba(0, 0, 0, 0.4);
          font-size: 13px;
        }
      }
    }
  }

  .submit {
    position: fixed;
    top : 110px;
    right:1rem;
    z-index: 20;
    cursor: pointer;
    background-color: transparent;

    .icon {
      fill : $primary-color;
      @media (min-width: 1025px) {
        height: 40px;
        width: 38px;
      }

      @media (max-width: 1024px) {
        height: 38px;
        width: 38px;
      }
    }
  }
}