.form {
  flex:1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .columns {
    display: flex;
    @media (max-width: 768px) {
      flex-direction: column;
    }

    .full, .half {
      margin-top: 1.5rem;  
    }

    .full {
      width:100%;
    }

    .half {
      width : 50%;  
      
      @media (max-width: 768px) {
        width:100%;
      }
    }

    .container-field, .upload-image {
      width: 100%;
      display: flex;
      flex-direction: column;
      padding : 0 1.5rem;
      margin-top: .8rem;

      .label {
        margin-bottom: .5rem;
        margin-left:.2rem;
        color: $primary-color;
        font-size: 14px;
      }
    }

    .container-field {  
      .input {
        border-radius: 4px;
        border: 1px solid rgba(0, 0, 0, 0.2);
        padding: 0 .5rem;
        height:35px;
        color: $black_text;
        font-size: 13px;

        &.error {
          border-color: $error-form;
          background-color: $error-form-bg;
        }

        &::placeholder {
          color: rgba(0, 0, 0, 0.4);
          font-size: 13px;
        }
      }
    }

    .upload-image {      
      .button-upload {
        width:100%;
        height:130px;
        border-radius: 5px;
        margin-bottom: 1rem;
        background-color: $white;
        background-image: linear-gradient( 45deg, #fff 25%, #e9eaf3 25%, #e9eaf3 50%, #fff 50%, #fff 75%, #e9eaf3 75%);        
        background-size: 10px 10px;
        border: 1px solid rgba(0, 0, 0, 0.2);

        .icon {
          width:inherit;
          height:inherit;
          background-color: $primary-color;
          -webkit-mask: url(../svg/upload.svg) no-repeat center;
          mask: url(../svg/upload.svg) no-repeat center;
          mask-size:70% 70%;
          -webkit-mask-size: 70% 70%;
        }

        &.isDragging {
          background-image: linear-gradient(45deg, #fff 25%,#e5e7f8 25%, #e5e7f8 50%, #fff 50%, #fff 75%, #e5e7f8 75%);
        }
      }
    }
  }  

  .action {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    background-color: $grey-background;
    border-top: 1px solid rgba(0,0,0,0.1);
    height:80px;

    .button {
      cursor: pointer;
      color: $white;
      padding: 0 2rem;
      border-radius: 3px;
      margin: 0 2rem;

      &.submit { 
        background-color: $primary-color;
      }

      &.cancel { 
        background-color: $cancel-bg;
      }

      @media (min-width: 1025px) {
        height: 38px;
      }

      @media (max-width: 1024px) {
        height: 35px;
      }

      @media (max-width: 768px) {
        margin: 0 .8rem;
      }
    }
  } 
  
  .errors {
    margin: 2.5rem 1.5rem;
    border: 1px solid $error-form;
    padding:1rem;
    border-radius: 4px;
    background-color: $error-form-bg;
  }
}