.form {
  flex:1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .form-content {
    flex:1;
    display: flex;
    flex-direction: column;

    .errors {
      width:100%;      
      margin-top : 2rem;      
      padding: 0 1.5rem;      

      .errors-content {
        border: 1px solid $error-form;
        padding:1rem;
        border-radius: 4px;
        background-color: $error-form-bg;
        color: $error-text;

        p {
          padding:.2rem 0;
        }
      }
    }
    .columns {  
      flex: 1;    
      display: flex;
      @media (max-width: 1024px) {
        flex-direction: column;
      }
  
      .full, .half {
        margin-top: 1.5rem;  
      }
  
      .full {
        width:100%;
      }
  
      .half {
        width : 50%; 
        
        &:first-of-type{
          border-right: 1px solid rgba(0,0,0,0.2);
        }
        
        @media (max-width: 1024px) {
          width:100%;
          &:first-of-type{
            border-right: none;
          }
        }
      }
  
      .container-field, .upload-image {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding : 0 1.5rem;
        margin-top: 1.2rem;
  
        .label {
          margin-bottom: .8rem;
          margin-left:.2rem;
          color: $primary-color;
          font-size: 14px;
          font-weight: 600;
        }
      }
  
      .container-field {  
        .input, .textarea {
          border-radius: 4px;
          border: 1px solid rgba(0, 0, 0, 0.2);
          padding: 0 .5rem;
          color: $black_text;
          font-size: 14px;
  
          &.error {
            border-color: $error-form;
            background-color: $error-form-bg;
          }
  
          &::placeholder {
            color: rgba(0, 0, 0, 0.4);
            font-size: 14px;
          }
        }
  
        .input {
          height:40px;
        }
  
        .textarea {
          height: 250px;
          resize: none;
          outline: none;
          padding:.8rem;
          line-height: 1.5;
        }

        .switch {
          border-bottom: 1px solid rgba(0, 0, 0, 0.2);
          padding: .3rem .3rem .8rem .3rem;
          display: flex;
          justify-content: space-between;
          align-items: center;

          .label-value {
            color: $black_text;
          }
        }

        .error-text {
          color: $error-text;
          font-size: 14px;
          margin-top: .6rem;
          padding-left: .2rem;
        }
      }
  
      .upload-image {    
        
        .button-upload {
          width:100%;
          height:130px;
          padding:0 .5rem;
          border-radius: 5px;
          background-color: #f9f9f9;
          background-size: 10px 10px;
          border: 1px solid rgba(0, 0, 0, 0.2);
          cursor: pointer;
          display: flex;
          justify-content: center;
          align-items: center;
  
          .icon {
            width:130px;
            height:inherit;
            background-color: $primary-color;
            -webkit-mask: url(../svg/upload.svg) no-repeat center;
            mask: url(../svg/upload.svg) no-repeat center;
            mask-size:70% 70%;
            -webkit-mask-size: 70% 70%;
            margin-right: .8rem;
          }

          .info {
            font-size: 14px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin-right: .8rem;

            p {
              margin-bottom: .4rem;
              &:last-child {
                margin-bottom: 0;
              }
            }
          }
  
          &.isDragging {
            background-image: linear-gradient(45deg, #fff 25%,#e5e7f8 25%, #e5e7f8 50%, #fff 50%, #fff 75%, #e5e7f8 75%);
          }
        }
  
        .content-upload {
          display: flex;
          flex-direction: column;
          margin-top: .8rem;
  
          .remove-all {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top:1.2rem;            
  
            .button {
              display: flex;
              justify-content: center;
              align-items: center;
              background: none;
              background: $error-trash;
              border-radius: 3px;
              padding:0 .8rem;
              height: 35px;             
  
              .icon {
                margin-right: .5rem;
  
                @media (min-width: 1025px) {
                  width: 1.4rem;
                  height: 1.4rem;
                }
      
                @media (max-width: 1024px) {
                  width: 1.2rem;
                  height: 1.2rem;
                }
              }
            }
          }
  
          .button {
            cursor: pointer;
            &.trash {
              color: $white;
            }
            &.trash-one {
              color: $white;
            }
          }
  
          .images-list {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            flex-wrap: wrap;
  
            .image-item {
              width: 50%;
              padding: .3rem;        
        
              .image-bg {
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
                width:100%;
                padding-bottom: 50%;
                background-color: $cancel-bg;
                position: relative;
  
                .button {
                  position: absolute;
                  top:-5px;
                  right: -5px;
                  z-index: 1;
                  background: $error-trash;
                  border-radius: 100%;
                  width: 2rem;
                  height: 2rem;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  border: 2px solid $white;
    
                  .icon {  
                    width:70%;
                    height: 70%;
                  }
                }
              }
            }
          }
        }
        .error-text {
          color: $error-text;
          font-size: 14px;
          margin-top: .6rem;
          padding-left: .2rem;
        }
      }
    }  
  }
  .action {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.5rem;
    background-color: $grey-background;
    border-top: 1px solid rgba(0,0,0,0.1);
    height:80px;

    .button {
      cursor: pointer;
      color: $white;
      padding: 0 2rem;
      border-radius: 3px;
      margin: 0 1.5rem;
      font-size: 14px;
      height: 35px;

      &.submit { 
        background-color: $primary-color;
      }

      &.disabled {
        opacity: .6;
      }

      &.cancel { 
        color: $cancel-icon;
        background-color: $cancel-bg;
      }

      @media (max-width: 768px) {
        margin: 0 .8rem;
      }
    }
  } 
}