.header-app {
  position   : fixed;
  z-index    : 100;
  top        : 0;
  left       : 0;
  width      : 100%;
  height     : $header-height;
  background : $header-bg;

  -webkit-box-shadow : 0 2px 5px rgba(57, 63, 72, 0.2);
  -moz-box-shadow    : 0 2px 5px rgba(57, 63, 72, 0.2);
  box-shadow         : 0 2px 5px rgba(57, 63, 72, 0.2);

  .navbar {
    padding         : 0;
    border-radius   : initial;
    justify-content : space-between;
    height          : inherit;

    .navbar-brand {
      display: flex;
      height       : 100%;
      color        : $primary-color;
      @media (min-width: 1024px) {
        width : $sidebar-width;
        justify-content: flex-start;
        align-items: center;

      }
      @media (max-width: 1024px) {
        width : $sidebar-width-small;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      background   : rgba(0,0,0,0.8);

      img {
        @media (min-width: 1024px) {
          height : 80%;
          margin-left: 1rem;
          margin-right: .5rem;
        }
        @media (max-width: 1024px) {
          height : 90%;
        }
      }

      span {
        font-size:16px;
        @media (min-width: 1024px) {
          display: inline-block;
        }
        @media (max-width: 1024px) {
          display: none;
        }
      }
    }

    .navbar-nav-right {
      margin-right : 1rem;
      display      : flex;
      align-items  : center;

      .button, a {
        cursor      : pointer;
        margin-left : .5rem;
        padding: .4rem;
        background-color: transparent;

        &:focus {
          box-shadow : none;
          outline    : 0
        }
      }

      .icon {
        color : $primary-color;
        width  : 25px;
        height : 25px;
      }
    }
  }
}