.list-card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  @media (min-width: 1025px) {
    padding : 2% .5% 5.5rem .5%;
  }

  @media (max-width: 1024px) {
    padding : 3% .5% 5rem .5%;
  }

  @media (max-width: 768px) {
    padding : 5% .5% 7rem .5%;
  }

  .card-container {
    margin-bottom: 2%;
    display: flex;

    @media (min-width: 1025px) {
      width : 25%;
    }

    @media (max-width: 1024px) {
      width : 50%;
    }

    @media (max-width: 768px) {
      width : 100%;
    }

    .card {
      flex:1;
      margin:0 3%;
      padding: 3.5%;
      background-color: #fbfbfb;

      .name {
        color : $primary_color;
        font-size: 14px;
        margin-bottom: .5rem;
      }

      .email {
        color : $black_text;
        font-size: 13px;
      }

      .action {
        display: flex;
        justify-content: flex-end;
        align-items: center;

        .button {
          padding: .4rem;
          border-radius: 5px;
          cursor: pointer;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-left: 1rem;

          &.edit {
            background-color: $primary_color_pencil;
          }

          &.trash {
            background-color: $primary_color_trash;
          }

          &.disabled {
            cursor: default;
            opacity: .2;
          }

          .icon {
            color : #fff;
            width: 1.3rem;
            height: 1.3rem;
          }
        }
      }
    }
  }

}