.list-card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  @media (min-width: 1025px) {
    padding : 2.2rem 1.2rem 1rem 1.2rem;
  }

  @media (max-width: 1024px) {
    padding : 2rem 1rem .8rem 1rem;
  }

  @media (max-width: 768px) {
    padding : 1.5rem .8rem;
  }

  @media (max-width: 568px) {
    padding : 1.5rem .3rem;
  }

  .loading-list {
    flex-basis: 100%;
  }

  .card-container {
    margin-bottom: 1.5rem;
    display: flex;
    min-height : 12rem;
    background-color: transparent;

    @media (min-width: 1451px) {
      &.small {
        width : 25%;
      }
      &.medium {
        width : 50%;
      }
    }

    @media (max-width: 1450px) {
      &.small {
        width : 33.33%;
      }
      &.medium {
        width : 50%;
      }
    }

    @media (max-width: 1200px) {
      &.small {
        width : 50%;
      }
      &.medium {
        width : 100%;
      }
    }

    @media (max-width: 1024px) {
      &.small {
        width : 50%;
      }
      &.medium {
        width : 100%;
      }
    }

    @media (max-width: 568px) {
      &.small {
        width : 100%;
      }
      &.medium {
        width : 100%;
      }
    }

    .card {
      flex:1;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      margin:0 .8rem;
      padding: 1.5rem;
      border-radius: 6px;

      @media (max-width: 568px) {
        padding: 1rem;
      }
      background-color: $white;
      border : $grey-border;

      .action {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 1.5rem;

        .button-container {
          display: flex;
          align-items: center;

          &.left {
            .button {
              margin-right: 1.2rem;
            }
          }

          &.right {
            .button {
              margin-left: 1.2rem;
            }
          }

          .button {
            padding: .3rem;
            border-radius: 5px;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $white;
            border: $grey-border;

            &.edit, &.show {
              .icon {
                color: $primary-color;
              }
            }

            &.trash {
              .icon {
                color: $error-trash;
              }
            }

            &.disabled {
              cursor: default;

              .icon {
                opacity: .2;
              }

            }

            .icon {
              @media (min-width: 1025px) {
                width: 1.4rem;
                height: 1.4rem;
              }

              @media (max-width: 1024px) {
                width: 1.2rem;
                height: 1.2rem;
              }

            }
          }
        }
      }
    }
  }

}