.list-card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  @media (min-width: 1025px) {
    padding : 1.5rem .8rem 0 .8rem;
  }

  @media (max-width: 1024px) {
    padding : 1.8rem .8rem 0 .8rem;
  }

  @media (max-width: 768px) {
    padding : 1.5rem .8rem 50px .8rem;
  }

  .loading-list {
    flex-basis: 100%;
  }

  .card-container {
    margin-bottom: 1.5rem;
    display: flex;
    min-height : 12rem;
    background-color: transparent;

    @media (min-width: 1451px) {
      &.small {
        width : 25%;
      }
    }

    @media (max-width: 1450px) {
      &.small {
        width : 50%;
      }
    }

    @media (max-width: 1024px) {
      &.small {
        width : 50%;
      }
    }

    @media (max-width: 768px) {
      &.small {
        width : 100%;
      }
    }

    .card {
      flex:1;
      justify-content: space-between;
      margin:0 .8rem;
      padding: 1.5rem;
      background-color: #fbfbfb;

      .action {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 1.5rem;

        .button-container {
          display: flex;
          align-items: center;

          &.left {
            .button {
              margin-right: 1.2rem;
            }
          }

          &.right {
            .button {
              margin-left: 1.2rem;
            }
          }

          .button {
            padding: .3rem;
            border-radius: 5px;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $h1-bg;
            border: 1px solid rgba(0, 0, 0, 0.125);


            &.edit, &.show {
              .icon {
                color: $primary_color;
              }
            }

            &.trash {
              .icon {
                color: $primary_color_trash;
              }
            }

            &.disabled {
              cursor: default;
              opacity: .2;
            }

            .icon {
              width: 1.4rem;
              height: 1.4rem;
            }
          }
        }
      }
    }
  }

}