.overlay {
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 30;
  background-color: rgba(0,0,0,0.7);
  width:100%;

  .modal {
    position: static;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    .content-modal {
      min-height: 200px;
      min-width: 450px;
      border-radius: 0.4rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      box-shadow: 5px 4px 6px -1px rgba(0,0,0,0.2);
      background-color: $white;    

      .card {
        flex:1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .card-title {
          display: flex;
          justify-content: space-between;
          align-items: center;
          background-color: $grey-background;
          color:$white;
          padding:.5rem .6rem;
          border-radius: 0.4rem 0.4rem 0 0;
          border-bottom: 1px solid rgba(0,0,0,0.1);
          font-size: 14px;

          .close {
            cursor: pointer;
            margin:0 .4rem;
            background-color: transparent;

            .icon {
              width: 1.5rem;
              height: 1.5rem;
              color: $cancel-icon;
            }
          }
        }

        .card-content {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          padding:2rem 0;
          flex-basis: 100%;
          text-align: center;

          .message {
            color: $black_text;
            font-size: 14px;
            margin-bottom: .8rem;
          }

          .complement {
            color: $primary-color;
            font-size: 14px;
            margin-bottom: 0;
            text-align: center;
            font-weight: bold;
          }
        }

        .action {
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 1rem 0;

          .button {
            padding: 0 1rem;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 .8rem;            
            border-radius: 3px;
            font-size: 14px;
            height:36px;

            .icon {
              width: 1.2rem;
              height: 1.2rem;
              margin-right:.3rem;
            }

            &.trash {
              color:$white;
              background-color: $error-trash;
              .icon {
                color: $white;
              }
            }

            &.cancel {
              color:$cancel-icon;
              background-color: $cancel-bg;
              .icon {
                color: $cancel-icon;
              }
            }
          }
        }
      }

      @media (max-width: 568px) {
        width : 100%;
        height:100%;
        min-width: auto;
        min-height: auto;
        border-radius: 0;

        .card {
          justify-content: flex-start;

          .card-title {
            border-radius: 0;
          }

          .card-content {
            flex-basis: auto;
            margin-top: auto;
            margin-bottom: 2rem;
            padding:0 1rem;
          }
          .action {
            margin-bottom: auto;
            padding:0 1rem;
          }
        }
      }
    }
  }
}