.overlay {
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 30;
  background-color: rgba(0,0,0,0.5);
  width:100%;

  .modal {
    position: static;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    .content-modal {
      min-height: 200px;
      min-width: 450px;
      border-radius: 0.4rem;
      border: $grey-border;
      display: flex;
      flex-direction: column;
      justify-content: center;
      box-shadow: 5px 4px 6px -1px rgba(0,0,0,0.2);
      background-color: $white;        

      .card-content {
        flex:1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .card-title {
          display: flex;
          justify-content: space-between;
          align-items: center;
          background-color: $primary-color;
          color:$white;
          padding:.5rem .6rem;
          border-radius: 0.4rem 0.4rem 0 0;
          font-size: 14px;

          .close {
            cursor: pointer;
            margin:0 .4rem;

            .icon {
              width: 1.5rem;
              height: 1.5rem;
              background-color: $white;
            }
          }
        }

        .card-content {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          border: $grey-border;
          padding:.8rem 0;
          flex-basis: 100%;

          .message {
            color: $black_text;
            font-size: 14px;
            margin-bottom: .5rem;
          }

          .complement {
            color: $primary-color;
            font-size: 14px;
            margin-bottom: 0;
            text-align: center;
          }
        }

        .action {
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 1rem 0;

          .button {
            padding: .4rem;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 .8rem;            
            border-radius: 5px;
            border: $grey-border;

            .icon {
              width: 1.5rem;
              height: 1.5rem;
            }

            &.trash {
              background-color: $error-trash;
              .icon {
                color: $white;
              }
            }

            &.cancel {
              background-color: $cancel-bg;
              .icon {
                color: $black_text;
              }
            }
          }
        }
      }
    }
  }
}