.overlay {
  display: flex;
  position: fixed;
  top: $header-height;
  right: 0;
  z-index: 30;
  background-color: rgba(0,0,0,0.3);

  @media (min-width: 1025px) {
    width : calc(100% - 250px);
    bottom: 0;
  }

  @media (max-width: 1024px) {
    width : calc(100% - 50px);
    bottom: 0;
  }

  @media (max-width: 768px) {
    width:100%;
    bottom: $header-height;
  }

  .modal {
    position: static;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    .content-modal {
      .card {
        padding:2rem;
        min-height: 200px;
        width: 400px;
        border-radius: 0.4rem;
        border: 1px solid rgba(0, 0, 0, 0.3);
        display: flex;
        flex-direction: column;
        justify-content: center;

        .card-content {
          display: flex;
          flex-direction: column;
          align-content: space-between;

          .card-text {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: $h1_bg;
            border: 1px solid rgba(0, 0, 0, 0.125);
            border-radius: 5px;
            padding:.8rem 0;
            flex-basis: 100%;

            .message {
              color: $black_text;
              font-size: 14px;
              margin-bottom: .5rem;
            }

            .complement {
              color: $primary-color;
              font-size: 14px;
              margin-bottom: 0;
            }
          }

          .action {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 2rem;

            .button {
              padding: .4rem;
              cursor: pointer;
              display: flex;
              justify-content: center;
              align-items: center;
              margin: 0 .8rem;
              background-color: $h1-bg;
              border: 1px solid rgba(0, 0, 0, 0.125);
              border-radius: 5px;

              .icon {
                width: 1.5rem;
                height: 1.5rem;
              }

              &.yes {
                .icon {
                  color: $primary_color;
                }
              }

              &.no {
                .icon {
                  color: $primary_color_trash;
                }
              }
            }
          }
        }
      }

    }
  }
}