.panel-container {
  position : fixed;
  z-index : 15;
  display : flex;
  top: 100px;
  bottom : 0;

  @media (min-width: 1025px) {
    width : calc(100% - 250px);
  }
  @media (max-width: 1024px) {
    width : calc(100% - 50px);
  }

  @media (max-width: 768px) {
    left : 0;
    width: 100%;
  }

  &.right {
    right: 0;
  }

  .panel {
    flex : 1;
    display: flex;
    flex-direction: column;
    background  : #fff;

    .content-panel {
      flex : 1;
      display : flex;
      flex-direction: column;
      justify-content: space-between;
      overflow-y: auto;

      h2 {
        text-align: center;
        margin:10px 0 15px 0;
        color: #0a2633;
        text-transform: uppercase;
        font-size: 22px;
      }

      .content {

      }

    }
  }
}