.panel-container {
  position : fixed;
  z-index : 15;
  display : flex;
  top: $header-height * 2;
  bottom : 0;
  background-color: $grey-background;

  @media (min-width: 1025px) {
    width : 400px;
  }
  @media (max-width: 1024px) {
    width : 300px;
  }

  @media (max-width: 768px) {
    left : 0;
    width: 100%;
  }

  &.right {
    transition: all .4s ease;

    @media (min-width: 1025px) {
      right : -400px;
    }
    @media (max-width: 1024px) {
      right : -300px;
    }
  
    @media (max-width: 768px) {
      right: -100%;
    }
  
    &.open {
      right: 0;
      box-shadow: -4px 0px 5px -2px rgba(0, 0, 0, .3);
    }    
  }

  .panel {
    flex : 1;
    display: flex;
    flex-direction: column;
    position: relative;

    .content-panel {
      flex : 1;
      display : flex;
      flex-direction: column;
      overflow-y: auto;
    }
  }
}