.publication {
  .card-publication {
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .image {
      position: relative;
      z-index: 1;
      margin-top: 1rem;;
      width: 100%;
      padding-bottom:40%;
      border-radius: .3rem;
      background-repeat:no-repeat;
      background-position: center center;
      background-size: cover;

      .numberMore {
        background-color: $primary-color;
        position: absolute;
        top: -10px;
        right: -10px;
        z-index: 1;
        color:$white;
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 100%;
        font-size: 13px;
        border:2px solid rgba(255,255,255, 0.4);
        -webkit-box-shadow: 3px 3px 5px -1px rgba(0, 0, 0, 0.6);
        box-shadow: 3px 3px 5px -1px rgba(0, 0, 0, 0.6);
      }
    }

    .title {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      color : $primary-color;
      font-weight: bold;
      @media (min-width: 1025px) {
        font-size: 14px;
      }

      @media (max-width: 1024px) {
        font-size: 13px;
      }

      span {
        color:rgba(0,0,0,0.3);
        font-size:12px;
        margin-top:.4rem;
        font-weight: normal;
      }
    }

    .content {
      color: $black-text;
      margin-top: .9rem;
    }
  }

  .detail-publication {
    flex:1;
    display: flex;

    .body, .options {
      flex:1;
      padding:20px;

      .title {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        color: $primary-color;
        font-size: 18px;
        margin-bottom:15px;

        span {
          color:rgba(0,0,0,0.3);
          font-size:13px;
          margin-top:.3rem;
        }
      }
    }

    .body {
      border-right: 1px solid rgba(0,0,0,0.1);
    }

    @media (max-width: 1024px) {
      flex-direction: column;

      .body, .options {
        flex:0;
      }

      .body {
        border:none;
      }
    }

    .options {

      .slide-publication {   
        .slide-item {
          width:100%;
          padding-bottom:50%;
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;
        }
  
        .thumbs-wrapper {
          margin:0;
          padding:10px;
  
          .thumbs {
            display: flex;
            margin-bottom: 0;
            
            .thumb {
              height:50px;
              width: 50px !important;
              border:2px solid transparent;
  
              &.selected, &:hover {
                border:2px solid $primary-color;
              }
            }
  
            .slide-thumb {
              height:100%;
              width:100%;
              background-position: center;
              background-size: cover;
              background-repeat: no-repeat;
            }
          }
        }      
      }
    }
  }
}