.publication {
  .card-publication {
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .image {
      position: relative;
      z-index: 1;
      margin-top: 1rem;;
      width: 100%;
      padding-bottom:40%;
      background-repeat:no-repeat;
      background-position: center center;
      background-size: cover;

      .numberMore {
        background-color: $primary-color;
        position: absolute;
        top: -15px;
        right: -15px;
        z-index: 1;
        color:$white;
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 100%;
        font-size: 13px;
        border:4px solid #fbfbfb;
      }
    }

    .header-section {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: .8rem;

      .title {
        color: $primary-color;
        font-size: 16px;
        margin-right: 1rem;
      }

      .published {
        color:$black-text;
        font-size:15px;
        font-weight: normal;
        display: flex;
        align-items: center;
        
        .icon {
          margin-right: .5rem;
          color:$gray;
          width: 1.5rem;
          height: 1.5rem;

          &.active {
            color:$green;
          }
        }
      }  
    } 

    .content {
      color: $black-text;
      margin-top: 1.2rem;
      margin-bottom: .4rem;
      line-height: 1.5;
      font-size: 14px;
    }

    .info-section {
      padding:0 5px;
      padding-top: .4rem;
      display: flex;
      justify-content: flex-end;

      .created-at {
        color: rgba(0,0,0,.5);
        font-size: 14px;
        margin-top:.6rem;

        span {
          text-transform: capitalize;
        }
      }
    }
  }

  .detail-publication {
    flex:1;
    display: flex;

    .body, .options {
      flex:1;
      padding:1.8rem;
      margin:1rem 0;

      .title {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        color: $primary-color;
        font-size: 18px;
        margin-bottom:15px;

        span {
          color: rgba(0,0,0,.5);
          font-size:14px;
          margin-top:.5rem;
        }
      }
      .text-detail {
        line-height: 1.5;
        font-size: 14px;
        margin-top:1.5rem;
      }
    }

    .body {
      border-right: 1px solid rgba(0,0,0,0.2);
    }

    @media (max-width: 1024px) {
      flex-direction: column;

      .body, .options {
        flex:0;
      }

      .body {
        border:none;
      }
    }

    .options {

      .slide-publication {   
        .slide-item {
          width:100%;
          padding-bottom:50%;
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;
        }
  
        .thumbs-wrapper {
          margin:0;
          padding:10px;
  
          .thumbs {
            display: flex;
            margin-bottom: 0;
            
            .thumb {
              height:50px;
              width: 50px !important;
              border:2px solid transparent;
  
              &.selected, &:hover {
                border:2px solid $primary-color;
              }
            }
  
            .slide-thumb {
              height:100%;
              width:100%;
              background-position: center;
              background-size: cover;
              background-repeat: no-repeat;
            }
          }
        }      
      }
    }
  }
}