.publication {
  .card-publication {
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .image {
      position: relative;
      z-index: 1;
      margin-top: 1rem;;
      
      @media (min-width: 1025px) {
        width: 100%;
        height: 15rem;
      }

      @media (max-width: 1024px) {
        width: 100%;
        height: 10rem;
      }

      border-radius: .3rem;
      background-repeat:no-repeat;
      background-position: center center;
      background-size: cover;

      .numberMore {
        background-color: $primary-color;
        position: absolute;
        top: -10px;
        right: -10px;
        z-index: 1;
        color:$white;
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 100%;
        font-size: 13px;
        border:2px solid rgba(255,255,255, 0.4);
        -webkit-box-shadow: 3px 3px 5px -1px rgba(0, 0, 0, 0.6);
        box-shadow: 3px 3px 5px -1px rgba(0, 0, 0, 0.6);
      }
    }

    .title {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      color : $primary-color;
      font-weight: bold;
      @media (min-width: 1025px) {
        font-size: 14px;
      }

      @media (max-width: 1024px) {
        font-size: 13px;
      }
    }
  }

  .detail-publication {

    .slide-publication {     
      padding:15px;

      .slide-item {
        width:100%;
        height:350px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
      }

      .thumbs {
        display: flex;
        height:50px;
        margin-bottom: 0;
        
        .thumb {
          width: 50px !important;

          &.selected, &:hover {
            border:2px solid $primary-color;
          }
        }

        .slide-thumb {
          height:100%;
          width:5Opx;
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;
        }
      }
    }
  }
}