.publication {
  .card-publication {
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .image {
      position: relative;
      z-index: 1;
      margin-top: 1rem;;
      width: 100%;
      padding-bottom:40%;
      background-repeat:no-repeat;
      background-position: center center;
      background-size: cover;

      .numberMore {
        background-color: $primary-color;
        position: absolute;
        top: 50%;
        margin-top:-25px;
        right: -15px;
        z-index: 1;
        color:$white;
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 100%;
        font-size: 13px;
        border:5px solid rgba(255,255,255, 0.4);
      }
    }

    .title-section {
      display: flex;
      justify-content: space-between;

      .title {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        color : $primary-color;
        @media (min-width: 1025px) {
          font-size: 16px;
        }
  
        @media (max-width: 1024px) {
          font-size: 15px;
        }
  
        .published {
          color:$black-text;
          font-size:14px;
          margin-top:1em;
          font-weight: normal;
          display: flex;
          align-items: center;
          
          .icon {
            margin-right: .5rem;
            color:$gray;
            width: 1.5rem;
            height: 1.5rem;

            &.active {
              color:$green;
            }
          }
        }
      }
      .user-section {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
  
        p {
          text-transform: capitalize;
          color:$primary-color;
          font-size: 13px;
        }
        .image-user {
          @media (min-width: 1025px) {
            width: 2.6rem;
            height: 2.6rem;
          }
  
          @media (max-width: 1024px) {
            width: 2.4rem;
            height: 2.4rem;
          }
          margin-bottom:.5rem;
          border-radius: 100%;
          background-repeat:no-repeat;
          background-position: center center;
          background-size: cover;
          -webkit-box-shadow: 3px 3px 5px -1px rgba(0, 0, 0, 0.6);
          box-shadow: 3px 3px 5px -1px rgba(0, 0, 0, 0.6);
        }  
      }      
    }    

    .content {
      color: $black-text;
      margin-top: 1.2rem;
      line-height: 1.5;
    }

    .created-date {
      color: rgba(0,0,0,.5);
      font-size: 14px;
      margin-top:.6rem;
    }
  }

  .detail-publication {
    flex:1;
    display: flex;

    .body, .options {
      flex:1;
      padding:20px;

      .title {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        color: $primary-color;
        font-size: 18px;
        margin-bottom:15px;

        span {
          color:rgba(0,0,0,0.3);
          font-size:13px;
          margin-top:.3rem;
        }
      }
      .text-detail {
        line-height: 1.5;
        font-size: 14px;
        margin-top:1.5rem;
      }
    }

    .body {
      border-right: 1px solid rgba(0,0,0,0.1);
    }

    @media (max-width: 1024px) {
      flex-direction: column;

      .body, .options {
        flex:0;
      }

      .body {
        border:none;
      }
    }

    .options {

      .slide-publication {   
        .slide-item {
          width:100%;
          padding-bottom:50%;
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;
        }
  
        .thumbs-wrapper {
          margin:0;
          padding:10px;
  
          .thumbs {
            display: flex;
            margin-bottom: 0;
            
            .thumb {
              height:50px;
              width: 50px !important;
              border:2px solid transparent;
  
              &.selected, &:hover {
                border:2px solid $primary-color;
              }
            }
  
            .slide-thumb {
              height:100%;
              width:100%;
              background-position: center;
              background-size: cover;
              background-repeat: no-repeat;
            }
          }
        }      
      }
    }
  }
}