.sidebar {
  background  : $black-background;
  z-index     : 20;
  position    : fixed;

  @media (min-width: 1025px) {
    width : $sidebar-big;
  }
  @media (max-width: 1024px) {
    width : $sidebar-small;
  }

  @media (min-width: 769px) {
    top : 0;
    left : 0;
    min-height  : 100%;

  }
  @media (max-width: 768px) {
    top: $header-height;
    bottom : 0;
    left : 0;
    width : 100%;
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-content:center;

    &.isClose {
      display:none;
    }

    &.isOpen {
      display:block;
    }
  }

  .sidebar-nav {

    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width:100%;
    padding-top : $header-height;
    padding-bottom : 30px;
    -ms-overflow-style: -ms-autohiding-scrollbar;

    &::-webkit-scrollbar {
      position: absolute;
      width: 10px;
      margin-left: -10px;
      -webkit-appearance: none;
    }

    &::-webkit-scrollbar-track {
      background-color: lighten($black-background, 5%);
      border-right: 1px solid darken($black-background, 5%);
      border-left: 1px solid darken($black-background, 5%);
    }

    &::-webkit-scrollbar-thumb {
      height: 50px;
      background-color: darken($black-background, 10%);
      background-clip: content-box;
      border-color: transparent;
      border-style: solid;
      border-width: 1px 2px;
    }

    @media (min-width: 1024px) {
      width : $sidebar-big;
    }

    .navbar {

      @media (min-width: 1025px) {
        padding: 0.5rem 1rem;

        .nav-link {
          justify-content: flex-start;
          border-bottom : 1px solid $border-sidebar;
          .icon {
            margin-right : 1.4rem;
          }
        }
      }

      @media (max-width: 1024px) {
        width: $sidebar-small;
        padding: .8rem 0;
        .navbar-nav {

          .nav-item {
            .nav-link {
              justify-content: center;
            }
          }
        }
      }

      @media (min-width: 769px) {

        margin-top: 0.8rem;

        .navbar-nav {
          display : block;
          width   : 100%;

          .nav-item {
            .nav-link {
              padding: 1.2rem .4rem;
              display: flex;
              align-items: center;

              span {
                font-size:15px;
              }
            }
          }
        }
      }

      @media (max-width: 768px) {
        width: auto;
        display : flex;
        justify-content : center;
        align-content   : center;
        padding : 0;

        .navbar-nav {
          width:90%;
          min-width:$sidebar-big;

          .nav-item {
            flex:1;
            display : flex;
            .nav-link {
              flex:1;
              justify-content: flex-start;
              align-items: center;
              border-bottom : 1px solid $border-sidebar;
              padding: 1rem .3rem;
              .icon {
                margin-right :2rem;
              }
            }
          }
        }
      }

      .navbar-nav {
        .nav-item {
          .nav-link {
            display: flex;
            align-content: center;
            color : $color-sidebar;

            &.active {
              color : $primary-color;
            }

            .icon {
              width : 28px;
              height : 28px;

              @media (max-width: 1024px) {
                width : 28px;
                height : 28px;
              }
              @media (max-width: 768px) {
                width : 28px;
                height : 28px;
              }
            }

            span {
              @media (max-width: 1024px) {
                display: none;
              }
              @media (max-width: 768px) {
                display: inline-flex;
              }
            }
          }
        }
      }
    }
  }

}