.user {
  .card-user {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    .image {
      @media (min-width: 1025px) {
        width: 3.9rem;
        height: 3.9rem;
      }

      @media (max-width: 1024px) {
        width: 3.6rem;
        height: 3.6rem;
      }

      border-radius: 100%;
      background-repeat:no-repeat;
      background-position: center center;
      background-size: cover;
      margin-right: 1.2rem;
    }

    .infos {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      .name {
        color : $primary-color;
        @media (min-width: 1025px) {
          font-size: 14px;
        }
  
        @media (max-width: 1024px) {
          font-size: 13px;
        }
  
        margin-bottom: .8rem;
        word-break: break-word;
      }
  
      .role {
        height: 26px;
        padding: 0 10px;
        font-size: 13px;
        margin-bottom: .4rem;

        @media (max-width: 1024px) {
          font-size: 12px;
        }
      }
    }
  }
  
  .detail-user {
    display: flex;
    margin-top: 3rem;

    @media (max-width: 768px) {
      flex-direction: column;
    }

    .image {
      display: flex;
      justify-content: center;
      align-items: center;
      width:40%;

      @media (max-width: 768px) {
        width:100%;
      }

      img {
        width:60%;
        border-radius: 100%;

        @media (max-width: 768px) {
          width:50%;
        }
      }
      
    }

    .infos {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width:60%;
      padding-left:2rem;
      border-left: 1px solid rgba(0,0,0,0.2);

      @media (max-width: 768px) {
        align-items: center;
        margin-top:1.5rem;
        width:100%;
        border-left: none;
        padding-left: 0;;
      }

      .name {
        color: $primary-color;
        font-size: 18px;
        margin-bottom: 2rem;
      }

      .info {
        margin: 0.3rem 0;
      }

      .role {
        height: 30px;
        padding: 0 20px;
        margin-bottom: 0.3rem;
        font-size: 14px;
        margin-top: 2rem;
      }
    }
  }

  .role {
    background-color : $grey-background;
    border:1px solid rgba(0,0,0,.1);
    color: $primary-color;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
  }
}