.user {
  .card-user {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    .image {
      @media (min-width: 1025px) {
        width: 3.5rem;
        height: 3.5rem;
      }

      @media (max-width: 1024px) {
        width: 3.2rem;
        height: 3.2rem;
      }

      border-radius: 4rem;
      background-repeat:no-repeat;
      background-position: center center;
      background-size: cover;
      margin-right: 1.2rem;
      margin-bottom: 1rem;
    }

    .name {
      color : $primary-color;
      width:120px;
      @media (min-width: 1025px) {
        font-size: 14px;
      }

      @media (max-width: 1024px) {
        font-size: 13px;
      }

      margin-bottom: .5rem;
      word-break: break-word;
    }
  }
}