.user {
  .card-user {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    .image {
      @media (min-width: 1025px) {
        width: 3.5rem;
        height: 3.5rem;
      }

      @media (max-width: 1024px) {
        width: 3.2rem;
        height: 3.2rem;
      }

      border-radius: 4rem;
      background-repeat:no-repeat;
      background-position: center center;
      background-size: cover;
      margin-right: 1.2rem;
    }

    .infos {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      .name {
        color : $primary-color;
        @media (min-width: 1025px) {
          font-size: 14px;
        }
  
        @media (max-width: 1024px) {
          font-size: 13px;
        }
  
        margin-bottom: .8rem;
        word-break: break-word;
      }
  
      .role {
        background-color : $grey-background;
        border:1px solid rgba(0,0,0,.1);
        color: $primary-color;
        border-radius: 3px;
        height: 26px;
        padding: 0 10px;
        margin-bottom: 0.3rem;
        display: flex;
        align-items: center;
        justify-content: center;
        line-height: 1;
        font-size: 13px;
        margin-bottom: .4rem;

        @media (max-width: 1024px) {
          font-size: 12px;
        }
      }
    }
  }    
}