// Color
$primary-color : #5c87cc;
$secondary-color : #b7c7df;
$error-trash : #c24f4f;
$error-form : #e9b3b3;
$error-form-bg : #fff6f6;
$error-text: #f14c4c;
$grey-blue: #ebf2ff;
$grey-background : #eeeeee;
$grey-light-background : #f5f5f5;
$cancel-bg: #c5c7ce;
$cancel-icon: #3d3d3f;
$black-background : #191919;
$black-text : #2d2d2d;
$grey-border : 1px solid rgba(0, 0, 0, 0.2);
$white: #fff;
$green: #28bb2f;
$gray: #a1a1a1;

// Dimensions
$header-height : 60px;
$sidebar-big : 250px;
$sidebar-small : 60px;

//Sidebar
$color-sidebar : #c1c1c1;
$border-sidebar : rgba(255,255,255,0.1);
$sidebar-borders : none;
$sidebar-cursor : rgb(129, 129, 129);

