// Color
$primary-color : #6483b4;
$secondary-color : #b7c7df;
$error-trash : #c24f4f;
$error-form : #f14c4c;
$error-form-bg : #fff5f5;
$grey-background : #eeeeee;
$black-background : #191919;
$black-text : #2d2d2d;
$grey-border : 1px solid rgba(0, 0, 0, 0.15);
$white: #fff;

// Dimensions
$header-height : 50px;
$sidebar-big : 250px;
$sidebar-small : 50px;

//Sidebar
$color-sidebar : #c1c1c1;
$border-sidebar : rgba(255,255,255,0.1);
$sidebar-borders : none;

